In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("data_cleaned.csv")
df.isna().sum()

Job Title              0
Salary Estimate        2
Job Description        0
Rating                 0
Company Name           0
Location               0
Size                   0
Founded                0
Type of ownership      0
Industry               0
Sector                 0
Revenue                0
per_hour               0
employer_estimate      0
glassdoor_estimate     0
min_salary             0
max_salary             0
mean_salary            0
job_state             18
company_age            0
python_skill           0
spark_skill            0
aws_skill              0
excel_skill            0
dtype: int64

In [11]:
temp = df[df["Salary Estimate"].isna() == True]

df.columns

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,...,glassdoor_estimate,min_salary,max_salary,mean_salary,job_state,company_age,python_skill,spark_skill,aws_skill,excel_skill
87,Machine Learning Earth Scientist,NaN,The Company\nSofar is on a mission to connect ...,4.6,Sofar Ocean,"San Francisco, CA",51 to 200 Employees,2016,Company - Private,Computer Hardware & Software,...,0,0,0,0.0,CA,6,0,0,0,0
140,Machine Learning Earth Scientist,NaN,The Company\nSofar is on a mission to connect ...,4.6,Sofar Ocean,"San Francisco, CA",51 to 200 Employees,2016,Company - Private,Computer Hardware & Software,...,0,0,0,0.0,CA,6,0,0,0,0

In [ ]:
#Define some categories based on Job Title info
def job_split_categories(title):
    
    title = str(title)
    
    if "data scientist"   in title.lower(): return "data scientist"
    if "manager"          in title.lower(): return "manager"
    if "engineer"         in title.lower(): return "engineer"
    if "machine learning" in title.lower(): return "machine learning"
    if "analyst"          in title.lower(): return "analyst"
    if "director"          in title.lower(): return "director"
    
    return 'na'



def job_split_seniority(title):
    
    title = str(title)
    
    if  "sr" in title.lower() or "senior" in title.lower() or "lead" in title.lower() or "principal" in title.lower(): 
        
        return "senior" 
       
    if "jr" in title.lower() or "junior" in title.lower() :
        
        return "junior"
           
    return 'na'

In [ ]:
df["job_categories"] = df["Job Title"].apply(job_split_categories)

df["job_seniority"] = df["Job Title"].apply(job_split_seniority)

In [ ]:
df.job_seniority.value_counts()

In [ ]:
df.job_categories.value_counts()

In [ ]:
df.job_state.unique().size

In [ ]:
df.mean_salary.hist()

In [ ]:
#Job Description Length
df["description_lenght"] = df["Job Description"].apply(lambda x: len(x))

df["description_lenght"]

In [ ]:
#Hourly wage to annual salary
df["min_salary"]  = df.apply(lambda x: x.min_salary  * 2   if x.per_hour == 1 else x.min_salary, axis = 1 )
df["max_salary"]  = df.apply(lambda x: x.max_salary  * 2   if x.per_hour == 1 else x.max_salary, axis = 1 )
df["mean_salary"] = df.apply(lambda x: x.mean_salary * 2   if x.per_hour == 1 else x.mean_salary,axis = 1 )

In [ ]:
df.min_salary

In [ ]:
df[df.per_hour == 1][["min_salary","max_salary"]]

In [ ]:
df["Company Name"]

In [ ]:
df.describe()

In [ ]:
df.Rating.hist()

In [ ]:
df.mean_salary.hist()

In [ ]:
df.company_age.hist()

In [ ]:
df.boxplot(column = ["mean_salary","company_age"] )

In [ ]:
df.boxplot(column = "Rating")

In [ ]:
corr_data = df[["company_age","mean_salary","Rating","description_lenght"]].corr()

In [ ]:
 sns.heatmap(corr_data, cmap="YlGnBu")

In [ ]:
df_categorical = df[['Location','job_state','Company Name','Type of ownership','Industry', 
                                                         'job_seniority','job_categories']]

for i in df_categorical.columns:
    column_values = df_categorical[i].value_counts()[:20]
    print ("Graph for %s - Num Categories: %d" %(i, len(column_values)))
    chart = sns.barplot(x = column_values.index, y = column_values)
    chart.set_xticklabels(chart.get_xticklabels(),rotation = 90)
    plt.show()

In [ ]:
pd.pivot_table(df, index = ["job_categories","job_seniority"], values = "mean_salary")

In [ ]:
pd.pivot_table(df, index = ["job_state"], values = "mean_salary").sort_values("mean_salary", ascending = False)

In [ ]:
df_pivots = df[['Rating', 'Industry', 'Sector', 'Revenue', 'per_hour', 'python_skill', 'spark_skill', 'aws_skill', 'excel_skill', 'Type of ownership','mean_salary']]

In [ ]:
for i in df_pivots.columns:
    if i == "mean_salary":
        break
    print(pd.pivot_table(df_pivots,index =i, values = 'mean_salary').sort_values('mean_salary', ascending = False))

In [ ]:
df.to_csv("eda_output.csv")