In [63]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [64]:
df = pd.read_csv("data_cleaned.csv")

In [65]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'per_hour', 'employer_estimate',
       'glassdoor_estimate', 'min_salary', 'max_salary', 'mean_salary',
       'job_state', 'company_age', 'python_skill', 'spark_skill', 'aws_skill',
       'excel_skill'],
      dtype='object')

In [75]:
#Define some categories based on Job Title info
def job_split_categories(title):
    
    title = str(title)
    
    if "data scientist"   in title.lower(): return "data scientist"
    if "manager"          in title.lower(): return "manager"
    if "engineer"         in title.lower(): return "engineer"
    if "machine learning" in title.lower(): return "mle"
    if "analyst"          in title.lower(): return "analyst"
    
    return 'na'



def job_split_seniority(title):
    
    title = str(title)
    
    if  "sr" in title.lower() or "senior" in title.lower() or "lead" in title.lower() or "principal" in title.lower(): 
        
        return "senior" 
       
    if "jr" in title.lower() or "junior" in title.lower() :
        
        return "junior"
           
    return 'na'

In [76]:
df["job_categories"] = df["Job Title"].apply(job_split_categories)

df["job_seniority"] = df["Job Title"].apply(job_split_seniority)

In [77]:
df.job_seniority.value_counts()

na        754
senior     67
junior     50
Name: job_seniority, dtype: int64

In [78]:
df.job_categories.value_counts()

data scientist    602
na                207
mle                31
engineer           30
analyst             1
Name: job_categories, dtype: int64

In [79]:
df.job_state.value_counts()

 CA    316
 NY    196
 WA     43
 CT     32
 UT     31
 TX     31
 MD     31
 NC     27
 TN     27
 PA     26
 IL     16
 MN     13
 NJ     12
 FL     10
 MA      5
 OK      5
 AZ      5
 OH      4
 WI      4
 IA      4
 OR      4
 VA      2
 IN      2
 MO      2
 MI      2
 DC      2
 PR      1
Name: job_state, dtype: int64